.poke-container {
  object-fit: cover;
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 1.5rem 1rem;
  margin: 0.3rem;
  border: 3px solid #08267a;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
.wrapper {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  width: 100%;
}
.sep-pokes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
