.box {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 600px;
  justify-content: flex-end;
  margin-left: 450px;
  background-color: #74b6d3;
  border: 10px solid #457386;
}

.DisplaySection {
  text-transform: capitalize;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.DisplaySection strong {
  color: white;
}
.DisplaySection h2 {
  color: white;
}
