.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #6ea4bb;
}
.main-content {
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}
.poke-card {
  background: white;
  color: black;
  border-radius: 5px;
  margin-top: 1em;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.info {
  max-width: 480px;
  margin: 20px auto;
  padding: 1rem;
}



.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}
.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
  text-transform: capitalize;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf;
}
.pretty-button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf;
  text-align: center;
  margin-left: 5px;
  margin-right: auto;
}
.TitleSection button:hover {
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
